{% extends "import.html" %} 
{% block content %}

<center>
<br><h2>Plant Disease Diagnosis</h2><br>

    <form id="upload-file" method="post" enctype="multipart/form-data">
         <input type="file" name="file" class="btn btn-success" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
         <img id="imagePreview"  class="img-responsive" src="#" style="width:300px;height:300px;"/><br><br>
         <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
         </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <!-- Result Section -->
    <div id="result" class="p-3 mb-2 bg-dark text-white">Result:</div>

    <!-- Accuracy Section -->
    <div id="accuracy" class="p-3 mb-2 bg-danger text-white">Accuracy:</div>

</center><br><br>
{% endblock %}
